body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    background-image: url(https://askmrnilsson.se/wp-content/uploads/2013/12/DSC_20261.jpg);
}

header{
    position: fixed;
    background: #cccccc;
    padding: 30px;
    width: 100%;
    height: 30px;  
    
}
h3{
    text-align: center;
    margin-top: 3px
}
h4{
    margin-top: -30px;
    }

.content img{
    margin-left: 20%;
    width: 30vw;
    height: 30vh;
    transition: 0.5s; 
    margin-top: 4%;
}
.content{
    background-color: snow;
    margin-left: 23%;
    width: 50vw;
    height: auto;
    transition: 0.5s; 
    padding-top: 7%;
    display: block;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px;
    border-style: double;
    color:snow;
}
p, h2, h3{
    color: black;
}
.p{
    text-align: center;
    margin-left: 3px;
}

    
}
.p:hover{
    color: cyan;
}
